@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&family=Inter&family=Montserrat:wght@500&display=swap');
@import url('http://fonts.cdnfonts.com/css/jenriv-titling');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&family=Inter:wght@400;500&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Odia&family=Dancing+Script&family=Encode+Sans+Expanded:wght@400;700&family=Encode+Sans:wght@400;700&family=Inter:wght@400;600;700&family=Lora:wght@700&family=Martel:wght@200;900&family=Montserrat&family=Raleway:wght@400;500;600;700;800;900&family=Rubik:ital@1&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* overflow-y: hidden;  */
   overflow-x: hidden;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
ode {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
